<app-breadcrumbs title="VRMS" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="card">
    <div class="card-header border-0">
        <form (ngSubmit)="submitSearch()" [formGroup]="searchForm" class="tablelist-form" autocomplete="off">
            <div class="row g-3 align-items-end">
                
                <div class="col-lg-2">
                    <label for="plateType-field" class="form-label">{{ 'Search Type' | translate }}</label>
                    <ng-select [items]="searchDropDownItem" #searchType formControlName="searchType" bindLabel="name" (change)="changeType($event.code)"
                        bindValue="code" id="plateType-field" name="searchType" [searchable]="true">
                    </ng-select>

                </div>
                <div class="col-lg-2" *ngIf="isRegistrationType">
                    <label for="plateType-field" class="form-label">{{ 'Registration Type' | translate
                        }}</label>
                    <ng-select [items]="searchDropDown2Item" formControlName="searchregistrationType" bindLabel="name"
                        bindValue="code" id="plateType-field" name="plateType" [searchable]="true">
                    </ng-select>

                </div>

                <div class="col-lg-2">
                    <label for="plateType-field" class="form-label">{{ 'Value' | translate }}</label>
                    <input type="text" id="search-field" class="form-control" placeholder="{{ 'value' | translate }}"
                        required [(ngModel)]="search" formControlName="search"
                        [ngClass]="{ 'is-invalid': submitted && f['search'].errors }" />
                </div>

                <div class="col-lg-2 d-flex align-items-end">
                    <button class="btn btn-success add-btn mt-auto" (click)="submitSearch()" type="submit">
                        <i class="ri-filter-3-line"></i> {{ 'find vehicle' | translate }}
                    </button>
                </div>
                <div class="text-end">
                    <span *ngIf="vehicleRegistrationNo!=''" style="font-size: 18px;">
                        Vehicle Reg. No: <span style="font-weight: bolder;">{{vehicleRegistrationNo}}</span>
                    </span>
                </div>


            </div>
        </form>
    </div>
</div>


<div class="email-wrapper d-lg-flex gap-1 mx-n4 mt-n4 p-1" *ngIf="isvehicleFound">
    <div class="email-menu-sidebar minimal-border" id="menusidebar">
        <div class="py-4 px-1 d-flex flex-column h-100">


            <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav nav-tabs nav-tabs-custom nav-success nav-justified"
                role="tablist">

                <li class="nav-item" [ngbNavItem]="1">
                    <a ngbNavLink class="nav-link" data-bs-toggle="tab" href="javascript:void(0);" role="tab">
                        Action
                    </a>
                    <ng-template ngbNavContent>
                        <ngx-simplebar class="chat-room-list pt-3">



                            <div class="chat-message-list">
                                <ul class="list-unstyled chat-list chat-user-list mb-0" id="channelList">
                                    <li *ngFor="let item of vehicleActionList " [class.active]="activeTab ==item.code"
                                        (click)="setActiveTab(item.code)" style="cursor: pointer;">
                                        <a class="unread-msg-user">
                                            <div class="d-flex align-items-center">
                                                <div
                                                    class="flex-shrink-0 chat-user-img online align-self-center me-2 ms-0">
                                                    <div class="avatar-xxs">
                                                        <div class="avatar-title bg-light rounded-circle text-body">
                                                            #
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 overflow-hidden">
                                                    <p class="text-truncate mb-0">Vehicle {{item.name}}</p>
                                                </div>
                                                <div class="flex-shrink-0">

                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </ngx-simplebar>
                    </ng-template>
                </li>
            </ul>


            <div class="tab-content  text-muted">
                <div [ngbNavOutlet]="nav"></div>
            </div>

        </div>
    </div>
    <!-- end email-menu-sidebar -->

    <div class="email-content minimal-border">
        <div class="p-4 pb-0">


            <div class="card-body" *ngIf="isvehicleFound">
                <div class="row align-items-center " *ngIf="activeTab === 1">
                    <app-vehicle-detail [vehicleDetail]="vehicleDetail"></app-vehicle-detail>
                </div>

                <div class="row align-items-center " *ngIf="activeTab === 2">
                    <app-vehicle-documents [vehicleId]="vehicleId"></app-vehicle-documents>
                </div>

                <div class="row align-items-center " *ngIf="activeTab === 3">
                    <app-vehicle-owners [vehicleId]="vehicleId"></app-vehicle-owners>

                </div>
                <div class="row align-items-center " *ngIf="activeTab === 11">
                    <app-inspection [vehicleId]="vehicleId"></app-inspection>
                </div>

            </div>
        </div>
    </div>
</div>