<!-- <div class="row g-3">
    <div class="col-lg-2">
        <label for="plateType-field" class="form-label">{{ 'Plate Type Name' | translate }}</label>
        <ng-select [items]="allPlates" bindLabel="name" bindValue="id" [(ngModel)]="selectedPlateTypelId"
            id="plateType-field" name="plateType" formControlName="plateType" [searchable]="true">
        </ng-select>

    </div>
    <div class="col-lg-2">
        <app-dropdown
          label="Plate Type Name"
          fieldId="plateType-field"
          [items]="allPlates"
          [(ngModel)]="filters.plateType"
          (valueChanged)="handleFilterChange('plateType', $event)"
        ></app-dropdown>
      </div>
    <div class="col-lg-2">
        <label for="plateType-field" class="form-label">{{ 'Plate Type Name' | translate }}</label>
        <ng-select [items]="allPlates" bindLabel="name" bindValue="id" [(ngModel)]="selectedPlateTypelId"
            id="plateType-field" name="plateType" formControlName="plateType" [searchable]="true">
        </ng-select>

    </div>
    <div class="col-lg-2">
        <label for="plateType-field" class="form-label">{{ 'Plate Type Name' | translate }}</label>
        <ng-select [items]="allPlates" bindLabel="name" bindValue="id" [(ngModel)]="selectedPlateTypelId"
            id="plateType-field" name="plateType" formControlName="plateType" [searchable]="true">
        </ng-select>

    </div>
    <div class="col-lg-2">
        <label for="plateType-field" class="form-label">{{ 'Plate Type Name' | translate }}</label>
        <ng-select [items]="allPlates" bindLabel="name" bindValue="id" [(ngModel)]="selectedPlateTypelId"
            id="plateType-field" name="plateType" formControlName="plateType" [searchable]="true">
        </ng-select>

    </div>
    <div class="col-lg-2">
        <label for="plateType-field" class="form-label">{{ 'Plate Type Name' | translate }}</label>
        <ng-select [items]="allPlates" bindLabel="name" bindValue="id" [(ngModel)]="selectedPlateTypelId"
            id="plateType-field" name="plateType" formControlName="plateType" [searchable]="true">
        </ng-select>

    </div>
</div> -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="flex-grow-1">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-12">
        <div class="card" id="contactList">
            <div class="card-header">
                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="search-box">
                            <input type="text" name="searchTerm" class="form-control"
                                placeholder="{{ 'Search for Plate...' | translate }}" [(ngModel)]="searchTerm">
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card mb-2">
                        <table class="table">
                            <thead>

                                <tr class="bg-light">
                                    <th scope="col" style="width: 50px;"></th>
                                    <th>{{ 'Plate Type Name' | translate }}</th>
                                    <th>{{ 'Plate Number' | translate }}</th>
                                    <th>{{ 'Registration Type' | translate }}</th>
                                    <th>{{ 'Front Plate Size' | translate }}</th>
                                    <!-- <th>{{ 'From' | translate }}</th> -->
                                    <th>{{ 'To' | translate }}</th>
                                    <th>{{ 'Status' | translate }}</th>
                                    <th>{{ 'Edit' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="plateStocks?.length > 0; else noData">
                                <ng-container *ngFor="let data of plateStocks; let i=index">
                                    <tr id="c_{{data.id}}">
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td class="name">
                                            <ngb-highlight [result]="data.plateTypeName"
                                                [term]="searchTerm"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.plateNo" [term]="searchTerm"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.plateNo" [term]="searchTerm"></ngb-highlight>
                                        </td>
                                        <!-- <td>
                                            <ngb-highlight [result]="data.plateNo" [term]="searchTerm"></ngb-highlight>
                                        </td> -->
                                        <td>
                                            <ngb-highlight [result]="data.plateNo" [term]="searchTerm"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.plateNo" [term]="searchTerm"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.isActive" [term]="searchTerm"></ngb-highlight>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <ng-template #noData>
                                <tr>
                                    <td colspan="2">No data available</td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                    <!-- <div class="d-flex justify-content-end mt-3">
                        
                        <ngb-pagination [collectionSize]="allPlateStocks?.length" [(page)]="service.page" [pageSize]="service.pageSize" (pageChange)="changePage()"></ngb-pagination>
                    </div> -->
                    <div class="d-flex justify-content-end mt-3">
                        <ngb-pagination *ngIf="metaData" [collectionSize]="metaData.totalCount"
                            [(page)]="metaData.currentPage" [pageSize]="metaData.pageSize"
                            (pageChange)="changePage()"></ngb-pagination>
                    </div>

                </div>

                <!-- Contacts Create Model -->
                <!-- <ng-template #content role="document" let-modal>
                    <div class="modal-header bg-info-subtle p-3">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'Add Document Type' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <form (ngSubmit)="saveData()" [formGroup]="dataForm" class="tablelist-form" autocomplete="off">
                        <div class="modal-body">
                            <input type="hidden" id="id-field" />
                            <div class="row g-3">
                                <div class="col-lg-12">
                                    <input type="hidden" fileName="id" value="" formControlName="id" />
                                    <div>
                                        <label for="fileName-field" class="form-label">{{ 'File Name' | translate }}</label>
                                        <input type="text" id="fileName-field" class="form-control" placeholder="{{ 'Enter File Name' | translate }}" required formControlName="fileName" [ngClass]="{ 'is-invalid': submitted && form['fileName'].errors }" />
                                        @if (submitted && form['fileName'].errors) {
                                        <div class="invalid-feedback" align="left">
                                            @if (form['fileName'].errors['required']) {
                                            <div>{{ 'File Name is required' | translate }}</div>
                                            }
                                        </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label for="fileExtentions-field" class="form-label">{{ 'File Extentions' | translate }}</label>
                                            <select id="fileExtentions-field" class="form-control" name="choices-single-default" data-choices data-choices-search-false formControlName="fileExtentions"
                                                [ngClass]="{ 'is-invalid': submitted && dataForm.controls['fileExtentions'].errors }">
                                                <option value="" disabled>{{ 'Select File Extentions' | translate }}</option>
                                                <option *ngFor="let item of fileExtentionsDropDownItem" [value]="item.code" > {{item.name}} </option>
                                            </select>
                                        <div *ngIf="submitted && dataForm.controls['fileExtentions'].errors" class="invalid-feedback" align="left">
                                            <div *ngIf="dataForm.controls['fileExtentions'].errors['required']">{{ 'File Extentions is required' | translate }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label for="isPermanentRequired-field" class="form-label">{{ 'Permanent Required' | translate }}</label>
                                        <div class="form-check form-switch">
                                            <input  id="isPermanentRequired-field" class="form-check-input" type="checkbox" role="switch"  formControlName="isPermanentRequired" [defaultValue]="false" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label for="isTemporaryRequired-field" class="form-label">{{ 'Temporary Required' | translate }}</label>
                                        <div class="form-check form-switch">
                                            <input  id="isTemporaryRequired-field" class="form-check-input" type="checkbox" role="switch"  formControlName="isTemporaryRequired" />
                                        </div>
                                    </div>
                                    
                                </div>
                                <div *ngIf="isEditing" class="col-lg-6">
                                    <div>
                                        <label for="isActive-field" class="form-label">{{ 'Status' | translate }}</label>
                                        <div class="form-check form-switch">
                                            <input  id="isActive-field" class="form-check-input" type="checkbox" role="switch"  formControlName="isActive" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeModal()">{{ 'Close' | translate }}</button>
                                <button type="submit" class="btn btn-success" id="add-btn" [disabled]="!dataForm.valid">{{ 'Add' | translate }}</button>
                            </div>
                        </div>
                    </form>
                </ng-template> -->
            </div>
        </div>

    </div>

</div>