<div class="col-xxl-12">
    <h5 class="mb-3">Custom Nav</h5>
    <div class="card">
        <div class="card-body">
            <!-- Nav tabs -->
            <ul ngbNav #ModifierCustom="ngbNav" [activeId]="1" class="nav nav-pills nav-customs nav-danger mb-3">
                <li [ngbNavItem]="1">
                    <a ngbNavLink class="nav-link">
                        Plate
                    </a>
                    <ng-template ngbNavContent>
                        <app-plate></app-plate>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink class="nav-link">
                        Vehicle Setting
                    </a>
                    <ng-template ngbNavContent>
                        <app-vehicle-setting></app-vehicle-setting>
                    </ng-template>
                </li>
                <li [ngbNavItem]="3">
                    <a ngbNavLink class="nav-link">
                        Look Ups
                    </a>
                    <ng-template ngbNavContent>
                        <app-look-ups></app-look-ups>
                    </ng-template>
                </li>
                <li [ngbNavItem]="4">
                    <a ngbNavLink class="nav-link">
                        Valuation
                    </a>
                    <ng-template ngbNavContent>
                        <app-valuation></app-valuation>
                    </ng-template>
                </li>
                <li [ngbNavItem]="5">
                    <a ngbNavLink class="nav-link">
                        Document Type
                    </a>
                    <ng-template ngbNavContent>
                        <app-document-type></app-document-type>
                    </ng-template>
                </li>
                
            </ul>
            <div class="tab-content text-muted">
                <div [ngbNavOutlet]="ModifierCustom"></div>
            </div>
        </div>
    </div>
</div>