<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-end gap-2">
                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#showModal"
                        (click)="openModal(content)">
                        <i class="ri-add-fill me-1 align-bottom"></i> {{ 'Add Plate Stock' | translate }}
                    </button>
                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#showModal"
                        (click)="openModal1(content1)">
                        <i class="ri-file-transfer-line me-1 align-bottom"></i> {{ 'Transfer To Zone' | translate }}
                    </button>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#showModal"
                        (click)="confirm(deleteModel)">
                        <i class="ri-delete-bin-2-line"></i> {{ 'Delete Plates' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="card">
        <app-filter-fields (criteriaSaved)="receiveCriteria($event)">
        </app-filter-fields>
    </div> -->

    <div class="row g-3 align-items-end">
        <div class="col-lg-2">
            <label for="plateType-field" class="form-label">{{ 'Plate Code' | translate }}</label>
            <ng-select [items]="allPlates" [(ngModel)]="plateStockCriteria.plate_code" bindLabel="name" bindValue="id"
                id="plateType-field" name="plateType" [searchable]="true">
            </ng-select>
        </div>
        <div class="col-lg-2">
            <label for="region-field" class="form-label">{{ 'region Name' | translate }}</label>
            <ng-select [items]="allRegion" [(ngModel)]="plateStockCriteria.region" bindLabel="name" bindValue="id"
                id="region-field" name="region" [searchable]="true">
            </ng-select>
        </div>
        <div class="col-lg-2">
            <label for="frontPlate-field" class="form-label">{{ 'Front Plate Size' | translate }}</label>
            <ng-select [items]="allFrontPlate" [(ngModel)]="plateStockCriteria.front_plate_size" bindLabel="name"
                bindValue="id" id="frontPlate-field" name="frontPlate" [searchable]="true">
            </ng-select>
        </div>
        <div class="col-lg-2">
            <label for="BackPlate-field" class="form-label">{{ 'Back Plate Size' | translate }}</label>
            <ng-select [items]="allBackPlate" [(ngModel)]="plateStockCriteria.back_plate_size" bindLabel="name"
                bindValue="id" id="BackPlate-field" name="BackPlate" [searchable]="true">
            </ng-select>
        </div>
        <div class="col-lg-2">
            <label for="zone-field" class="form-label">{{ 'Zone' | translate }}</label>
            <ng-select [items]="allZones" [(ngModel)]="plateStockCriteria.zone" bindLabel="name" bindValue="id"
                id="zone-field" name="zone" [searchable]="true">
            </ng-select>
        </div>
        <div class="col-lg-1">
            <label for="status-field" class="form-label">{{ 'Status' | translate }}</label>
            <ng-select [items]="statusOptions" [(ngModel)]="plateStockCriteria.status" bindLabel="label"
                bindValue="value" id="status-field" name="status" [searchable]="true">
                <ng-option [value]="null" selected>Select Status</ng-option>
            </ng-select>
        </div>
        <div class="col-lg-1 d-flex align-items-end">
            <button class="btn btn-success add-btn mt-auto" (click)="saveCriteria()">
                <i class="ri-filter-3-line"></i> Show
            </button>
        </div>
    </div>
    <!-- <hr> -->
    <div class="col-xxl-12">
        <div class="card" id="contactList">
            <div class="card-header">
                <div class="row g-4 mb-3">

                    <div class="col-sm-auto d-flex align-items-center">
                        <span class="me-2">Show:</span>
                        <ng-select [(ngModel)]="selectedPageSize" (ngModelChange)="refreshData()"
                            [items]="pageSizeOptions" bindLabel="label" bindValue="value" class="custom-ng-select"
                            [clearable]="false"></ng-select>
                        <span class="ms-2">Entries</span>
                    </div>
                    <div class="col-sm">
                        <div class="d-flex justify-content-sm-end">
                            <div class="search-box">
                                <input type="text" name="searchTerm" class="form-control"
                                    placeholder="{{ 'Search for Plate Number...' | translate }}"
                                    [(ngModel)]="searchTerm" (ngModelChange)="searchTermSubject.next($event)">
                                <i class="ri-search-line search-icon"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card mb-2">
                        <table class="table">
                            <thead>

                                <tr class="bg-light">
                                    <!-- <th scope="col" style="width: 50px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                                                [(ngModel)]="masterSelected" (change)="checkUncheckAll($event, NULL)">
                                        </div>
                                    </th> -->
                                    <th scope="col" style="width: 50px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                                                [(ngModel)]="masterSelected" (change)="checkUncheckAll($event, null)" />
                                        </div>
                                    </th>
                                    <th scope="col" style="width: 50px;">
                                        No.
                                    </th>
                                    <th>{{ 'Plate Type Name' | translate }}</th>
                                    <th>{{ 'Plate Number' | translate }}</th>
                                    <th>{{ 'Registration Type' | translate }}</th>
                                    <th>{{ 'Front Plate Size' | translate }}</th>
                                    <th>{{ 'To Zone' | translate }}</th>
                                    <th>{{ 'Status' | translate }}</th>
                                    <th>{{ 'Edit' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="plateStocks?.length > 0; else noData">
                                <ng-container *ngFor="let data of plateStocks; let i=index">
                                    <tr id="c_{{data.id}}">
                                        <!-- <th scope="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="checkAll"
                                                    value="{{data.id}}" [(ngModel)]="data.state">
                                            </div>
                                        </th> -->
                                        <th scope="row">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="checkAll"
                                                    value="{{ data.id }}" [(ngModel)]="data.state"
                                                    (change)="checkUncheckAll($event, data.id)" />
                                            </div>
                                        </th>
                                        <th scope="row">{{ i + 1 }}

                                        </th>
                                        <td class="name">
                                            <ngb-highlight [result]="data.plateTypeName" [term]="''"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.plateNo" [term]="''"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.issuanceType" [term]="''"></ngb-highlight>
                                        </td>

                                        <td>
                                            <ngb-highlight [result]="data.frontPlateSizeId" [term]="''"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.plateNo" [term]="''"></ngb-highlight>
                                        </td>
                                        <td>
                                            <ngb-highlight [result]="data.isActive" [term]="''"></ngb-highlight>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <ng-template #noData>
                                <tr>
                                    <td colspan="2">No data available</td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end mt-3">
                        <ngb-pagination *ngIf="metaData" [collectionSize]="metaData.totalCount"
                            [(page)]="metaData.currentPage" [pageSize]="metaData.pageSize" (pageChange)="changePage()"
                            [maxSize]="paginationMaxSize" [boundaryLinks]="true"></ngb-pagination>
                    </div>

                </div>

                <!-- Contacts Create Model -->
                <ng-template #content role="document" let-modal>
                    <div class="modal-header bg-info-subtle p-3">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'Add Plate Stocks' | translate }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="close-modal" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <form (ngSubmit)="saveData()" [formGroup]="dataForm" class="tablelist-form was-validated" autocomplete="off">
                        <div class="modal-body">
                            <input type="hidden" id="id-field" />
                            <div class="row g-3">

                                <div class="col-lg-6">

                                    <label for="plateTypeId-field" class="form-label">{{ 'Plate Type' | translate
                                        }}</label>

                                    <!-- <ng-select [items]="plateTypeNames" bindLabel="name" bindValue="id"
                                        [(ngModel)]="selectedPlateType" id="plateTypeId-field" name="plateTypeId"
                                        formControlName="plateTypeId" [searchable]="true" required>
                                    </ng-select>
                                    <div *ngIf="submitted && dataForm.get('plateTypeId')?.errors?.['required']"
                                        class="invalid-feedback" align="left">
                                        {{ 'Plate Type is required' | translate }}
                                    </div> -->
                                    <ng-select [items]="plateTypeCode" bindLabel="name" bindValue="id"
                                        [(ngModel)]="selectedPlateType" id="plateTypeId-field" name="plateTypeId"
                                        formControlName="plateTypeId" [searchable]="true"
                                        placeholder="Select plate Type Name" required
                                        [ngClass]="{'ng-select-invalid': dataForm.get('plateTypeId')?.touched && dataForm.get('plateTypeId')?.errors}">
                                    </ng-select>
                                    <span
                                        *ngIf="dataForm.get('plateTypeId')?.touched && dataForm.get('plateTypeId')?.errors">This
                                        field is required!</span>


                                    <!-- @if (submitted && form['plateTypeId'].errors) {
                                    <div class="invalid-feedback" align="left">
                                        @if (form['plateTypeId'].errors['required']) {s
                                        <div>{{ 'Plate Type is required' | translate }}</div>
                                        }
                                    </div>
                                    } -->
                                    <!-- <div *ngIf="submitted && dataForm1.get('plateTypeId')?.errors"
                                        class="invalid-feedback" align="left">
                                        <div *ngIf="dataForm1.get('plateTypeId')?.errors?.['required']">{{ 'Plate Type
                                            is required'
                                            | translate }}
                                        </div>
                                    </div> -->

                                </div>
                                <div class="col-lg-6">

                                    <label for="regionId-field" class="form-label">{{ 'Region' | translate
                                        }}</label>
                                    <ng-select [items]="regionNames" bindLabel="name" bindValue="id"
                                        [(ngModel)]="selectedRegion" id="regionId-field" name="regionId"
                                        formControlName="regionId" [searchable]="true" placeholder="Select Region"
                                        required>
                                    </ng-select>
                                    <!-- @if (submitted && form['regionId'].errors) {
                                    <div class="invalid-feedback" align="left">
                                        @if (form['regionId'].errors['required']) {s
                                        <div>{{ 'Region is required' | translate }}</div>
                                        }
                                    </div>
                                    } -->
                                    <div *ngIf="submitted && dataForm1.get('regionId')?.errors" class="invalid-feedback"
                                        align="left">
                                        <div *ngIf="dataForm1.get('regionId')?.errors?.['required']">{{ 'Region is
                                            required'
                                            | translate }}</div>
                                    </div>

                                </div>
                                <div class="col-lg-6">

                                    <label for="frontPlateSizeId-field" class="form-label">{{ 'Front Plate Size Size' |
                                        translate
                                        }}</label>
                                    <ng-select [items]="frontPlateNames" bindLabel="name" bindValue="id"
                                        [(ngModel)]="selectedFrontPlateSize" id="frontPlateSizeId-field"
                                        name="frontPlateSizeId" formControlName="frontPlateSizeId" [searchable]="true"
                                        placeholder="Select Front Plate Size" required>
                                    </ng-select>
                                    @if (submitted && form['frontPlateSizeId'].errors) {
                                    <div class="invalid-feedback" align="left">
                                        @if (form['frontPlateSizeId'].errors['required']) {s
                                        <div>{{ 'Front Plate Size is required' | translate }}</div>
                                        }
                                    </div>
                                    }


                                </div>
                                <div class="col-lg-6">

                                    <label for="backPlateSizeId-field" class="form-label">{{ 'Back Plate Size' |
                                        translate
                                        }}</label>
                                    <ng-select [items]="backPlateNames" bindLabel="name" bindValue="id"
                                        [(ngModel)]="selectedBackPlateSize" id="backPlateSizeId-field"
                                        name="backPlateSizeId" formControlName="backPlateSizeId" [searchable]="true"
                                        placeholder="Select Back Plate Size" required>
                                    </ng-select>


                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label for="plateDigit-field" class="form-label">{{ 'Plate Digit' | translate
                                            }}</label>
                                        <ng-select [items]="plateDigitEnum" bindLabel="name" bindValue="code"
                                            id="plateDigit-field" name="plateDigit" formControlName="plateDigit"
                                            [ngClass]="{ 'is-invalid': submitted && dataForm.controls['plateDigit'].errors }"
                                            [searchable]="false" placeholder="Select Plate Digit" required>
                                            <ng-option value="" disabled>{{ 'Select Plate Digit' | translate
                                                }}</ng-option>
                                        </ng-select>
                                        <div *ngIf="submitted && dataForm.controls['plateDigit'].errors"
                                            class="invalid-feedback" align="left">
                                            <div *ngIf="dataForm.controls['plateDigit'].errors['required']">{{ 'Plate
                                                Digit is required' | translate }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label for="issuranceType-field" class="form-label">{{ 'IssurancenType' |
                                            translate }}</label>
                                        <!-- <select id="issuranceType-field" class="form-control"
                                            name="choices-single-default" data-choices data-choices-search-false
                                            formControlName="issuranceType"
                                            [ngClass]="{ 'is-invalid': submitted && dataForm.controls['issuranceType'].errors }">
                                            <option value="" disabled>{{ 'Select Issurance Type' | translate }}</option>
                                            <option *ngFor="let item of issuranceTypeEnum" [value]="item.code">
                                                {{item.name}} </option>
                                            </select> -->
                                        <ng-select [items]="issuranceTypeEnum" bindLabel="name" bindValue="code"
                                            id="issuanceType-field" name="issuanceType" formControlName="issuanceType"
                                            [ngClass]="{ 'is-invalid': submitted && dataForm.controls['issuanceType'].errors }"
                                            [searchable]="false" placeholder="Select Issurance Type" required>
                                            <ng-option value="" disabled>{{ 'Select Issurance Type' | translate
                                                }}</ng-option>
                                        </ng-select>
                                        <div *ngIf="submitted && dataForm.controls['issuanceType'].errors"
                                            class="invalid-feedback" align="left">
                                            <div *ngIf="dataForm.controls['issuanceType'].errors['required']">{{
                                                'Issurance Type is required' | translate }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label for="aToZ-field" class="form-label">{{ 'A To Z' | translate }}</label>
                                        <input type="text" id="aToZ-field" class="form-control"
                                            placeholder="{{ 'Enter A To Z' | translate }}" required
                                            formControlName="aToZ" />

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label for="fromPlateNo-field" class="form-label">{{ 'From PlateNo' | translate
                                            }}</label>
                                        <input type="text" id="fromPlateNo-field" class="form-control"
                                            placeholder="{{ 'Enter From PlateNo' | translate }}" required
                                            formControlName="fromPlateNo"
                                            [ngClass]="{ 'is-invalid': submitted && form['fromPlateNo'].errors }" />
                                        @if (submitted && form['fromPlateNo'].errors) {
                                        <div class="invalid-feedback" align="left">
                                            @if (form['fromPlateNo'].errors['required']) {
                                            <div>{{ 'From Plate Number is required' | translate }}</div>
                                            }
                                        </div>
                                        }

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <label for="toPlateNo-field" class="form-label">{{ 'To Plate No' | translate
                                            }}</label>
                                        <input type="text" id="to-field" class="form-control"
                                            placeholder="{{ 'Enter To PlateNo' | translate }}" required
                                            formControlName="toPlateNo"
                                            [ngClass]="{ 'is-invalid': submitted && form['toPlateNo'].errors }" />
                                        @if (submitted && form['toPlateNo'].errors) {
                                        <div class="invalid-feedback" align="left">
                                            @if (form['toPlateNo'].errors['required']) {
                                            <div>{{ 'To Plate Number is required' | translate }}</div>
                                            }
                                        </div>
                                        }
                                        @if (submitted && form['toPlateNo'].errors) {
                                        <div class="invalid-feedback" align="left">
                                            @if (form['toPlateNo'].errors['greaterThanOrEqual']) {
                                            <div>{{ 'To Plate Number must be less than or equal to from plate num' |
                                                translate }}</div>
                                            }
                                        </div>
                                        }


                                    </div>
                                </div>

                                <div *ngIf="isEditing" class="col-lg-6">
                                    <div>
                                        <label for="isActive-field" class="form-label">{{ 'Status' | translate
                                            }}</label>
                                        <div class="form-check form-switch">
                                            <input id="isActive-field" class="form-check-input" type="checkbox"
                                                role="switch" formControlName="isActive" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                    (click)="closeModal()">{{
                                    'Close' | translate }}</button>
                                <button type="submit" class="btn btn-success" id="add-btn">{{ 'Add' | translate
                                    }}</button>
                            </div>
                        </div>
                    </form>
                </ng-template>
                <ng-template #content1 role="document" let-modal>
                    <div class="modal-header bg-info-subtle p-3">
                        <h5 class="modal-title" id="exampleModalLabel">{{ 'Transfer Plate Stocks To Zone' | translate }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            id="close-modal" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <form (ngSubmit)="transferData()" [formGroup]="dataForm1" class="tablelist-form was-validated" autocomplete="off">
                        <div class="modal-body">
                            <input type="hidden" id="id-field" />
                            <div class="row g-3">
                                <div class="col-lg-12">

                                    <label for="zoneId-field" class="form-label">{{ 'Zone' | translate
                                        }}</label>
                                    <ng-select [items]="zoneNames" bindLabel="name" bindValue="id"
                                        [(ngModel)]="selectedZone" id="zoneId-field" name="zoneId"
                                        formControlName="zoneId" [searchable]="true" required>
                                    </ng-select>
                                    <div *ngIf="submitted && dataForm1.get('zoneId')?.errors" class="invalid-feedback"
                                        align="left">
                                        <div *ngIf="dataForm1.get('zoneId')?.errors?.['required']">{{ 'Zone is required'
                                            | translate }}</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="hstack gap-2 justify-content-end">
                                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                                    (click)="closeModal()">{{
                                    'Close' | translate }}</button>
                                <button type="submit" class="btn btn-success" id="add-btn">{{ 'Transfer' | translate
                                    }}</button>
                            </div>
                        </div>

                    </form>
                </ng-template>
            </div>
        </div>

    </div>

</div>

<!-- removeItemModal -->
<ng-template #deleteModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btn-close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#f7b84b,secondary:#f06548" style="width:100px;height:100px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>Are you Sure ?</h4>
                    <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')"><i class="ri-close-line me-1 align-middle"></i> Close</button>
                <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="deleteSelectedPlates()"
                    (click)="modal.close('Close click')">Yes, Delete It!</button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</ng-template>