
<div class="row g-3 align-items-end">
  <div class="col-lg-2">
    <label for="plateType-field" class="form-label">{{ 'Plate Type Name' | translate }}</label>
    <ng-select [items]="allPlates" [(ngModel)] = "plateStockCriteria.plate_code" bindLabel="name" bindValue="id" id="plateType-field" name="plateType"
      [searchable]="true" >
    </ng-select>
  </div>
  <div class="col-lg-2">
    <label for="region-field" class="form-label">{{ 'region Name' | translate }}</label>
    <ng-select [items]="allists" [(ngModel)] = "plateStockCriteria.region" bindLabel="name" bindValue="id" id="region-field" name="region" [searchable]="true"
      >
    </ng-select>
  </div>
  <div class="col-lg-2">
    <label for="frontPlate-field" class="form-label">{{ 'Front Plate Size' | translate }}</label>
    <ng-select [items]="allFrontPlate" [(ngModel)] = "plateStockCriteria.front_plate_size" bindLabel="name" bindValue="id" id="frontPlate-field" name="frontPlate"
      [searchable]="true" >
    </ng-select>
  </div>
  <div class="col-lg-2">
    <label for="BackPlate-field" class="form-label">{{ 'Back Plate Size' | translate }}</label>
    <ng-select [items]="allBackPlate" [(ngModel)] = "plateStockCriteria.back_plate_size" bindLabel="name" bindValue="id" id="BackPlate-field" name="BackPlate"
      [searchable]="true" >
    </ng-select>
  </div>
  <div class="col-lg-2">
    <label for="zone-field" class="form-label">{{ 'Zone' | translate }}</label>
    <ng-select [items]="allZone" [(ngModel)] = "plateStockCriteria.zone" bindLabel="name" bindValue="id" id="zone-field" name="zone" [searchable]="true"
      >
    </ng-select>
  </div>
  <div class="col-lg-1">
    <label for="status-field" class="form-label">{{ 'Status' | translate }}</label>
    <ng-select [items]="statusOptions" [(ngModel)] = "plateStockCriteria.status" bindLabel="label" bindValue="value" id="status-field" name="status"
      [searchable]="true" >
      <ng-option [value]="null" selected>Select Status</ng-option>
    </ng-select>
  </div>
  <div class="col-lg-1 d-flex align-items-end">
    <button class="btn btn-success add-btn mt-auto" (click)="saveCriteria()">
      <i class="ri-filter-3-line"></i> Show
    </button>
  </div>
</div>