<app-breadcrumbs title="VRMS" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="card">
    <div class="card-header">

        <form (ngSubmit)="submitSearch()" [formGroup]="searchForm" class="tablelist-form" autocomplete="off">
        <div class="row g-3 align-items-end">

            <div class="col-lg-2">
                <label for="plateType-field" class="form-label">{{ 'Search Type' | translate }}</label>
                <ng-select [items]="searchDropDownItem" formControlName="searchType" bindLabel="name" bindValue="code"
               
                    id="plateType-field" name="searchType" [searchable]="true">
                </ng-select>

            </div>
            <div class="col-lg-2">
                <label for="plateType-field" class="form-label">{{ 'Registration Type' | translate }}</label>
                <ng-select [items]="searchDropDown2Item" formControlName="searchregistrationType" bindLabel="name" bindValue="code"
               
                    id="plateType-field" name="plateType" [searchable]="true">
                </ng-select>

            </div>

            <div class="col-lg-2">
                <label for="plateType-field" class="form-label">{{ 'Value' | translate }}</label>
                <input type="text" id="search-field" class="form-control" placeholder="{{ 'value' | translate }}"
                    required [(ngModel)]="search" 
                    formControlName="search"
                    [ngClass]="{ 'is-invalid': submitted && f['search'].errors }" />
            </div>

            <div class="col-lg-2 d-flex align-items-end">
                <button class="btn btn-success add-btn mt-auto" 
                    (click)="submitSearch()" type="submit">
                    <i class="ri-filter-3-line"></i> {{ 'find vehicle' | translate }}
                </button>
            </div>

            <div class="text-end">

                <span *ngIf="vehicleRegistrationNo!=''">
                    Vehicle Reg. No :  <span style="font-weight: bolder;font-size: 15px;">{{vehicleRegistrationNo}}</span>
                </span>

            </div>

        </div>
        </form>

   



    </div>
</div>






<div class="row">
    <div class="col-xl-3">
        <div class="card">
            <div class="card-header">
                <h5>Actions</h5>

            </div>

            <div class="accordion accordion-flush">

                <div class="card-body border-bottom">

                    

                    <div class="chat-message-list">


                        <ngx-simplebar class="mx-n4 px-4 email-menu-sidebar-scroll">
                            <div class="mail-list mt-3">
                                <a href="javascript:void(0);" class="active">
                                    <i class="ri-mail-fill me-3 align-middle fw-medium"></i>
                                    <span class="mail-list-link">Vehicle Details</span>

                                </a>
                                <a href="javascript:void(0);" class="active">
                                    <i class="ri-mail-fill me-3 align-middle fw-medium"></i>
                                    <span class="mail-list-link">Vechicle Documents</span>

                                </a>
                                <a href="javascript:void(0);">
                                    <i class="ri-inbox-archive-fill me-3 align-middle fw-medium"></i>
                                    <span class="mail-list-link">Field Inspection</span>

                                </a>
                                <a href="javascript:void(0);">
                                    <i class="ri-inbox-archive-fill me-3 align-middle fw-medium"></i>
                                    <span class="mail-list-link">Technical Inspection</span>

                                </a>

                                <a href="javascript:void(0);">
                                    <i class="ri-inbox-archive-fill me-3 align-middle fw-medium"></i>
                                    <span class="mail-list-link">Annual Inspection Certficate (AIS)</span>

                                </a>

                                <a href="javascript:void(0);">
                                    <i class="ri-inbox-archive-fill me-3 align-middle fw-medium"></i>
                                    <span class="mail-list-link">Ownership Registration Certficate (ORC)</span>

                                </a>

                                <a href="javascript:void(0);">
                                    <i class="ri-inbox-archive-fill me-3 align-middle fw-medium"></i>
                                    <span class="mail-list-link">Owner Management </span>

                                </a>

                                <a href="javascript:void(0);">
                                    <i class="ri-inbox-archive-fill me-3 align-middle fw-medium"></i>
                                    <span class="mail-list-link">Vechicle Ban</span>

                                </a>
                            </div>
                        </ngx-simplebar>

                    </div>

                </div>




            </div>
        </div>
        <!-- end card -->
    </div>
    <!-- end col -->


    <div   class="col-xl-9">
        <div>
            <div class="card">
                <div class="card-header border-0">

                </div>

                <div class="card-body" *ngIf="isvehicleFound">
                    <div class="row align-items-center">
                        <form (ngSubmit)="submitForm()" [formGroup]="vehicleForm" class="tablelist-form" autocomplete="off">
                            <div class="modal-body">
                                <input type="hidden" id="id-field" formControlName="id" />
                                <div class="row g-3">
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="modelId-field" class="form-label">{{ 'Model ID' | translate }}</label>
                                            <ng-select [items]="allVehicleModels" bindLabel="name" bindValue="id"
                                                [(ngModel)]="selectedModelId" id="modelId-field" name="modelId"
                                                formControlName="modelId" [searchable]="true" required>
                                            </ng-select>
                                            <div *ngIf="submitted && f['modelId'].errors" class="invalid-feedback" align="left">
                                                <div>{{ 'Model ID is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="manufacturingYear-field" class="form-label">{{ 'Manufacturing Year' | translate
                                                }}</label>
                                            <input type="number" id="manufacturingYear-field" class="form-control"
                                                placeholder="{{ 'Manufacturing year' | translate }}" required
                                                formControlName="manufacturingYear"
                                                [ngClass]="{ 'is-invalid': submitted && f['manufacturingYear'].errors }" />
                                            <div *ngIf="submitted && f['manufacturingYear'].errors" class="invalid-feedback"
                                                align="left">
                                                <div>{{ 'Manufacturing Year is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="horsePower-field" class="form-label">{{ 'Horse Power' | translate }}</label>
                                            <input type="number" id="horsePower-field" class="form-control"
                                                placeholder="{{ 'Horse power' | translate }}" required
                                                formControlName="horsePower"
                                                [ngClass]="{ 'is-invalid': submitted && f['horsePower'].errors }" />
                                            <div *ngIf="submitted && f['horsePower'].errors" class="invalid-feedback" align="left">
                                                <div>{{ 'Horse Power is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="horsePowerMeasure-field" class="form-label">{{ 'Horse Power Measure' | translate
                                                }}</label>
                                            <ng-select [items]="horsePowerMeasureOption" bindLabel="name" bindValue="name"
                                                id="horsePowerMeasure-field" name="horsePowerMeasure"
                                                formControlName="horsePowerMeasure" [searchable]="true" required>
                                            </ng-select>
                                            <div *ngIf="submitted && f['horsePowerMeasure'].errors" class="invalid-feedback"
                                                align="left">
                                                <div>{{ 'Horse Power Measure is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="noCylinder-field" class="form-label">{{ 'No Cylinder' | translate }}</label>
                                            <input type="number" id="noCylinder-field" class="form-control"
                                                placeholder="{{ 'no cylinder' | translate }}" required
                                                formControlName="noCylinder"
                                                [ngClass]="{ 'is-invalid': submitted && f['noCylinder'].errors }" />
                                            <div *ngIf="submitted && f['noCylinder'].errors" class="invalid-feedback" align="left">
                                                <div>{{ 'No Cylinder is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="typeOfVehicle-field" class="form-label">{{ 'Type Of Vehicle' | translate
                                                }}</label>
                                            <ng-select [items]="typeOfVehicleOption" bindLabel="name" bindValue="name"
                                                id="typeOfVehicle-field" name="typeOfVehicle" formControlName="typeOfVehicle"
                                                [searchable]="true" required>
                                            </ng-select>
                                            <div *ngIf="submitted && f['typeOfVehicle'].errors" class="invalid-feedback" align="left">
                                                <div>{{ 'Type Of Vehicle is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="engineCapacity-field" class="form-label">{{ 'Engine Capacity' | translate
                                                }}</label>
                                            <input type="number" id="engineCapacity-field" class="form-control"
                                                placeholder="{{ 'Engine capacity' | translate }}" required
                                                formControlName="engineCapacity"
                                                [ngClass]="{ 'is-invalid': submitted && f['engineCapacity'].errors }" />
                                            <div *ngIf="submitted && f['engineCapacity'].errors" class="invalid-feedback" align="left">
                                                <div>{{ 'Engine Capacity is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label class="form-label">{{ 'Vehicle Current Status' | translate }}</label>
                                            <ng-select [items]="vehicleCurrentStatusOption" bindLabel="name" bindValue="name"
                                                formControlName="vehicleCurrentStatus" [searchable]="true" required>
                                            </ng-select>
                                            <div *ngIf="submitted && f['vehicleCurrentStatus'].errors" class="invalid-feedback"
                                                align="left">
                                                <div>{{ 'Vehicle Current Status is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="transferStatus-field" class="form-label">{{ 'Transfer Status' | translate
                                                }}</label>
                                            <ng-select [items]="transferStatusOption" bindLabel="name" bindValue="name"
                                                formControlName="transferStatus" [searchable]="true" required
                                                (change)="onSelectionChange($event)">
                                            </ng-select>
                
                                        </div>
                                    </div>
                
                
                                    <div class="col-lg-3" *ngIf="showZoneInput">
                                        <div>
                                            <label for="zone-field" class="form-label">{{ 'Zone' | translate }}</label>
                                            <input type="text" class="form-control" id="zone-field" name="zone" formControlName="zone">
                                        </div>
                                    </div>
                
                                    <div class="col-lg-3" *ngIf="showRegionInput">
                                        <div>
                                            <label for="region-field" class="form-label">{{ 'Region' | translate }}</label>
                                            <input type="text" class="form-control" id="region-field" name="region"
                                                formControlName="region">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="taxStatus-field" class="form-label">{{ 'Tax Status' | translate }}</label>
                                            <ng-select [items]="taxStatusOption" bindLabel="name" bindValue="name"
                                                formControlName="taxStatus" [searchable]="true" required>
                                            </ng-select>
                
                                        </div>
                                    </div>
                
                
                
                
                
                
                
                                    <!-- Add more fields as necessary -->
                
                
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="officeCode-field" class="form-label">{{ 'Office Code' | translate }}</label>
                                            <input type="text" id="officeCode-field" class="form-control"
                                                placeholder="{{ 'Office code' | translate }}" formControlName="officeCode" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="declarationNo-field" class="form-label">{{ 'Declaration No' | translate
                                                }}</label>
                                            <input type="text" id="declarationNo-field" class="form-control"
                                                placeholder="{{ 'Declaration no' | translate }}" required
                                                formControlName="declarationNo"
                                                [ngClass]="{ 'is-invalid': submitted && f['declarationNo'].errors }" />
                                            <div *ngIf="submitted && f['declarationNo'].errors" class="invalid-feedback" align="left">
                                                <div>{{ 'Declaration No is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="declarationDate-field" class="form-label">{{ 'Declaration Date' | translate
                                                }}</label>
                                            <input type="text" id="declarationDate-field" class="form-control"
                                                formControlName="declarationDate" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="billOfLoading-field" class="form-label">{{ 'Bill of Loading' | translate
                                                }}</label>
                                            <input type="text" id="billOfLoading-field" class="form-control"
                                                placeholder="{{ 'Bill of loading' | translate }}"
                                                formControlName="billOfLoading" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="removalNumber-field" class="form-label">{{ 'Removal Number' | translate
                                                }}</label>
                                            <input type="text" id="removalNumber-field" class="form-control"
                                                placeholder="{{ 'Removal Number' | translate }}"
                                                formControlName="removalNumber" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="invoiceDate-field" class="form-label">{{ 'Invoice Date' | translate }}</label>
                                            <input type="text" id="invoiceDate-field" class="form-control"
                                                formControlName="invoiceDate" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="invoicePrice-field" class="form-label">{{ 'Invoice Price' | translate }}</label>
                                            <input type="number" id="invoicePrice-field" class="form-control"
                                                placeholder="{{ 'Invoice Price' | translate }}" formControlName="invoicePrice" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="chassisNo-field" class="form-label">{{ 'Chassis No' | translate }}</label>
                                            <input type="text" id="chassisNo-field" class="form-control"
                                                placeholder="{{ 'Chassis no' | translate }}" required formControlName="chassisNo"
                                                [ngClass]="{ 'is-invalid': submitted && f['chassisNo'].errors }" />
                                            <div *ngIf="submitted && f['chassisNo'].errors" class="invalid-feedback" align="left">
                                                <div>{{ 'Chassis No is required' | translate }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div>
                                            <label for="engineNumber-field" class="form-label">{{ 'Engine Number' | translate }}</label>
                                            <input type="text" id="engineNumber-field" class="form-control"
                                                placeholder="{{ 'Engine number' | translate }}" formControlName="engineNumber" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="assembledCountryId-field" class="form-label">{{ 'Assembled Country ID' |
                                                translate
                                                }}</label>
                                            <ng-select [items]="countries" bindLabel="name" bindValue="id"
                                                formControlName="assembledCountryId" [searchable]="true" required>
                                            </ng-select>
                
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="chassisMadeId-field" class="form-label">{{ 'Chassis Made ID' | translate
                                                }}</label>
                                            <ng-select [items]="countries" bindLabel="name" bindValue="id"
                                                formControlName="chassisMadeId" [searchable]="true" required>
                                            </ng-select>
                
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <label for="serviceZoneId-field" class="form-label">{{ 'Service Zone' | translate }}</label>
                                            <ng-select [items]="zones" bindLabel="name" bindValue="id" formControlName="serviceZoneId"
                                                [searchable]="true" required>
                                            </ng-select>
                
                                        </div>
                                    </div>
                
                
                
                
                
                
                
                
                
                
                
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="hstack gap-2 justify-content-end">
                                    <!-- <button type="button" class="btn btn-light" data-bs-dismiss="modal" (click)="closeModal()">{{
                                        'Close' |
                                        translate }}</button> -->
                                    <button type="submit" [disabled]="!vehicleForm.valid" class="btn btn-success" id="add-btn">{{
                                        'Register' | translate }}</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <!-- end card -->
        </div>
    </div>
    <!-- end col -->
</div>