<div class="col-xxl-12">

    
    <div class="card">
        <div class="card-body">
            <!-- Nav tabs -->
            <ul ngbNav #ModifierCustom="ngbNav" [activeId]="1" class="nav nav-tabs-custom border-bottom-0 nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink class="nav-link">
                        Field Inspection
                    </a>
                    <ng-template ngbNavContent>
                        <app-field-inspection></app-field-inspection>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink class="nav-link">
                        Techincal Inspection
                    </a>
                    <ng-template ngbNavContent>
                        <app-technical-inspection></app-technical-inspection>
                    </ng-template>
                </li>
               
            </ul>
            <div class="tab-content text-muted">
                <div [ngbNavOutlet]="ModifierCustom"></div>
            </div>
        </div>
    </div>
</div>